{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

which -s brew
if [[ $? != 0 ]] ; then
    # Install Homebrew
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

   # Homebrew Autoupdate
   brew tap homebrew/autoupdate
   mkdir -p ~/Library/LaunchAgents
   brew autoupdate start 43200
else
    brew update
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
# Browsers
cask "google-chrome"
cask "firefox"
cask "tor-browser"
cask "brave-browser"

# Common Apps
cask "authy"
cask "spotify"
cask "iina"
cask "keka"
cask "gpg-suite"
cask "balenaetcher"
cask "sensei"
cask "steam"
cask "raycast"
cask "bartender"
cask "syncthing"
cask "dropzone"
cask "little-snitch"
# superpowered, coherence, unite, pdf-squeezer
cask "imageoptim"
brew "youtube-dl"
cask "soulver"
# houdini
cask "lunar"
cask "viscosity"
# brew "scriptable"
cask "onyx"
cask "detexify"
cask "disk-drill"
cask "karabiner-elements"
cask "folx"
cask "mem"
cask "daisydisk"
cask "timemator"
cask "mimestream"
cask "cron"
cask "motrix"
cask "cleanshot"
cask "mos"

# Communication
cask "signal"
cask "zoom"
cask "slack"
cask "discord"

# Productivity
cask "adobe-creative-cloud"
cask "microsoft-office"
cask "blender"
# grammarly (brew gets desktop version, want beta version that runs on whole OS)
cask "obs"
cask "parsec"
cask "notion"

# Development Tools
brew "tldr"
cask "iterm2"
cask "paw"
cask "visual-studio-code"
#cask "docker"
cask "dash"
cask "parallels"
# cask "mplab-xc16" Unsupported OS Version
brew "wget"
brew "exa"
# cask "lunacy"
cask "android-studio"
cask "sf-symbols"
brew "nmap"
cask "kicad"
brew "htop"
brew "bitwarden-cli"
cask "fig"
cask "termius"
brew "chezmoi"
cask "tower"
brew "pyenv"
brew "pnpm"
brew "ffmpeg"
cask "warp"
cask "tailscale"
cask "fontforge"
brew "pyenv-virtualenv"
brew "rustup-init"

# MAS
brew "mas"
#mas "Amphetamine", id: 937984704
#mas "Bitwarden", id: 1352778147
#mas "DaVinci Resolve", id: 571213070
#mas "Developer", id: 640199958
#mas "Encrypto", id: 935235287
#mas "GameTrack", id: 1136800740
#mas "Grammarly for Safari", id: 1462114288
#mas "Keynote", id: 409183694
#mas "Parcel", id: 639968404
#mas "PastePal", id: 1503446680
#mas "rcmd", id: 1596283165
#mas "Shazam", id: 897118787
#mas "Spark", id: 1176895641
#mas "Userscripts", id: 1463298887
#mas "Wayback Machine", id: 1472432422
#mas "Xcode", id: 497799835
EOF
{{ end -}}
